In [8]:
import pandas as pd
import ast

In [9]:
offers_df = pd.read_csv("./offers.csv", header=0)
offers_df.head(n=5)

,offer_id,offer_type,difficulty,reward,duration,channels
0,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,10,7,"['email', 'mobile', 'social']"
1,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,10,5,"['web', 'email', 'mobile', 'social']"
2,3f207df678b143eea3cee63160fa8bed,informational,0,0,4,"['web', 'email', 'mobile']"
3,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,5,7,"['web', 'email', 'mobile']"
4,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,20,5,10,"['web', 'email']"

In [10]:
offers_df["channels"] = offers_df["channels"].apply(ast.literal_eval)
adjusted_df = offers_df.explode('channels')
adjusted_df.head(5)

,offer_id,offer_type,difficulty,reward,duration,channels
0,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,10,7,email
0,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,10,7,mobile
0,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,10,7,social
1,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,10,5,web
1,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,10,5,email

In [12]:
adjusted_offers_file_path = "./adjusted_offers.csv"
adjusted_df.to_csv(adjusted_offers_file_path, index=False, header=True)